{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    "indent": [
      "error",
      4
    ],
    "linebreak-style": [
      0
    ]
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "es6": true
  }
}