{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    "indent": [
      "error",
      4,
      { "SwitchCase": 1 }
    ],
    "linebreak-style": [
      0
    ],
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1
      }
    ],
    "camelcase": 0,
    "require-jsdoc": 0,
    "max-len": ["error", 100] 
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "node": true,
    "es6": true
  }
}